* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;

}

html,
body {
    height: 100%;
    width: 100%;
}

.pg1 {
    height: 100vh;
    width: 100%;
    background-color: rgb(239, 239, 239);
    background-image: url("https://media.istockphoto.com/id/1195791038/photo/weave-wooden-chair-in-white-room-for-mockup-3d-rendering.jpg?s=612x612&w=0&k=20&c=G5ckL1mG03r7I4e01viG1vNU3Vonh-EkaxYYrfK_DxM=");
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all ease 2s;

}

.pg1:hover{
    background-image: url("https://images.unsplash.com/photo-1471086569966-db3eebc25a59?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: left ;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: #EBECEE;
    transition: all ease 2s;


}
nav {
    height: 10vh;
    width: 100%;
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vmax;
}

nav>h1 {
    font-size: 2vmax;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
}

ul li {
    list-style: none;
    font-family: Arial, Hel vetica, sans-serif;
    font-size: 1.5vmax;
    margin: 0 1vmax;
}

 ul li::before{
    content: "";
    width: 0%;
    height: 0.6vh;
    top: 7%;
    /* bottom: 0; */
    position: absolute;
    background-color: black;
    transition: all 0.5s;

}

li:hover::before{
    width: 6%;

}

.icons {
    height: 8vh;
    width: 10vw;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.icons>h6 {
    font-size: 1.7vmax;
}

.pg1div {
    height: 90%;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding: 0 5vmax;
}

.content {
    height: 38vh;
    width: 40vw;
    /* border: 2px solid black; */
    text-align: center;
    padding: 1vmax 1vmax;

}

.content>h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.9vmax;
}

.content>p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2vmax;
    margin-top: 1vmax;
}

.content>button {
    padding: 0.7vmax 1vmax;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0.5vmax;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3vmax;
    margin-top: 1vmax;
    cursor: pointer;
    transition: all ease 1s;

}

.content>button:hover {
    background-color: transparent;
    color: black;
    transform: translateY(0.6vmax);
    border: 2px solid black;
    font-weight: bold;
}

/* -----------------------------------pg1------------------------------------ */

@media(max-width: 600px) {
    nav {
        width: 100%;
    }

    nav ul {
        display: none;
        width: 100%;
    }

    nav>h1 {
        font-size: 3vmax;
    }

    .icons {
        height: 5vh;
        width: 15vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* border: 2px solid black; */
        margin-left: 1vmax;
    }

    .icons>h6 {
        font-size: 2.6vmax;
    }

    .pg1 {
        height: 100vh;
        width: 100%;
        background-color: rgb(239, 239, 239);
        background-image: url("https://media.istockphoto.com/id/1195791038/photo/weave-wooden-chair-in-white-room-for-mockup-3d-rendering.jpg?s=612x612&w=0&k=20&c=G5ckL1mG03r7I4e01viG1vNU3Vonh-EkaxYYrfK_DxM=");
        background-position: center;
        background-size: cover;
    }

    .pg1:hover {
        height: 100vh;
        width: 100%;
        background-color: rgb(239, 239, 239);
        /* background-image: url("https://media.istockphoto.com/id/1098076380/photo/minimalistic-home-interior-with-grey-design-sofa-geometric-basket-plant-and-stylish-blanket.jpg?s=612x612&w=0&k=20&c=BNJGVFSI7xjdvYydklFetXSlStMYqEm-e8Vio9aASL4="); */
        background-image: url("https://images.unsplash.com/photo-1471086569966-db3eebc25a59?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

    }

    .pg1div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 0 5vmax;
    }

    .content {
        height: 30vh;
        width: 70vw;
        text-align: center;
        padding: 1vmax 0vmax;
        margin-top: 33vmax;
        /* border: 2px solid black; */

    }

    .content>h1 {
        font-size: 3.3vmax;
    }

    .content>p {
        font-size: 1.6vmax;
    }

    .content>button {
        padding: 1.5vmax 1.2vmax;
        font-size: 1.6vmax;
        margin-top: 2vmax;

    }

}

/* ------------------pg1 media query end------------------------------------------ */


.pg2 {
    height: 45vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2vmax;
    background-color: rgb(214, 228, 229);
}

.pg2>h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vmax;
    margin-top: 2vmax;
}

.pg2>p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2vmax;
    text-align: center;
    width: 50vw;
    margin-top: 1vmax;
}

img {
    height: 15vh;
    width: 15vw;
    margin-top: 1vmax;

}

/* ------------------------------pg2 end------------------------------------- */

@media(max-width: 600px) {

    .pg2 {
        height: 35vh;
        width: 100%;

    }

    .pg2>h2 {
        font-size: 2.8vmax;
        margin-top: 1.5vmax;
        text-align: center;
    }

    .pg2>p {
        font-size: 1.6vmax;
        /* text-align: center; */
        width: 90vw;
        margin-top: 1.4vmax;
    }

    img {
        height: 18vh;
        width: 25vw;

    }

}

/* ---------------------pg2 media query end----------------------------------------- */

.pg3 {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: rgb(239, 239, 239);

}

.pg3-left {
    height: 100vh;
    width: 50%;
    /* background-color: yellow; */
}

.pg3-right {
    height: 100vh;
    width: 50%;
    /* background-color: cyan; */
}

.leftpart1 {
    height: 67vh;
    width: 100%;
    /* border: 2px solid black; */
    background-image: url("https://media.istockphoto.com/id/1407071289/photo/modern-ceramic-bathtub-and-green-plant-near-white-wall-indoors.jpg?s=612x612&w=0&k=20&c=4PrscntiEEQ-K1bikHSr9olXyQYxfvhT_dlMbPjwKW4=");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.leftpart2 {
    height: 33vh;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
}

.leftpart2>.imgbox {
    height: 100%;
    width: 50%;
    /* border: 2px solid black; */
    background-image: url("https://images.unsplash.com/photo-1595514535116-d0401260e7cf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEwfHx8ZW58MHx8fHx8&auto=format&fit=crop&w=600&q=60");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


}

.leftpart2>.contentbox {
    height: 100%;
    width: 50%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.leftpart2>.contentbox>h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vmax;
    margin-bottom: 1vmax;
}

.leftpart2>.contentbox>p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2vmax;
    text-align: center;

}

.leftpart2>.contentbox>button {
    padding: 0.7vmax 1vmax;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0.5vmax;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3vmax;
    margin-top: 1vmax;
    cursor: pointer;
    transition: all ease 1s;

}

.leftpart2>.contentbox>button:hover {
    background-color: transparent;
    color: black;
    transform: translateY(0.6vmax);
    border: 2px solid black;
    font-weight: bold;
}



.rightpart1 {
    height: 67vh;
    width: 100%;
    /* border: 2px solid black; */

}

.rightpart1-top {
    height: 34vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
}

.rightpart1-top>.contentbox {
    height: 100%;
    width: 50%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rightpart1-top>.contentbox>h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vmax;
    margin-bottom: 1vmax;
}

.rightpart1-top>.contentbox>p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2vmax;
    text-align: center;
}

.rightpart1-top>.contentbox>button {
    padding: 0.7vmax 1vmax;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0.5vmax;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3vmax;
    margin-top: 1vmax;
    cursor: pointer;
    transition: all ease 1s;
}

.rightpart1-top>.contentbox>button:hover {
    background-color: transparent;
    color: black;
    transform: translateY(0.6vmax);
    border: 2px solid black;
    font-weight: bold;
}




.rightpart1-top>.imgbox {
    height: 100%;
    width: 50%;
    /* border: 2px solid black; */
    background-image: url("https://images.unsplash.com/photo-1599031425762-838bd43d4f66?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEzfHx8ZW58MHx8fHx8&auto=format&fit=crop&w=600&q=60");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.rightpart1-bottom {
    height: 33vh;
    width: 100%;
    /* background-color: blue; */
    display: flex;
}

.rightpart1-bottom>.imgbox {
    height: 100%;
    width: 50%;
    /* border: 2px solid black; */
    background-image: url("https://media.istockphoto.com/id/1314002738/photo/farmhouse-living-room-interior-with-wooden-furniture-wall-mockup.jpg?s=612x612&w=0&k=20&c=YcqnhZM3R3W1tY-fS1UJnNePGYI4PsAMTQbCXK5Pfyw=");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}


.rightpart1-bottom>.contentbox {
    height: 100%;
    width: 50%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.rightpart1-bottom>.contentbox>h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vmax;
    margin-bottom: 1vmax;
}

.rightpart1-bottom>.contentbox>p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2vmax;
    text-align: center;
}

.rightpart1-bottom>.contentbox>button {
    padding: 0.7vmax 1vmax;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0.5vmax;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3vmax;
    margin-top: 1vmax;
    cursor: pointer;
    transition: all ease 1s;
}

.rightpart1-bottom>.contentbox>button:hover {
    background-color: transparent;
    color: black;
    transform: translateY(0.6vmax);
    border: 2px solid black;
    font-weight: bold;
}




.rightpart2 {
    height: 33vh;
    width: 100%;
    /* border: 2px solid black; */
    padding: 1vmax 2vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.rightpart2>p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2vmax;
    text-align: center;
}

.rightpart2>button {
    padding: 0.7vmax 1vmax;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0.5vmax;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3vmax;
    margin-top: 1vmax;
    cursor: pointer;
    transition: all ease 1s;
}

.rightpart2>button:hover {
    background-color: transparent;
    color: black;
    transform: translateY(0.6vmax);
    border: 2px solid black;
    font-weight: bold;
}

/* ----------------------------------pg3 end---------------------------------------- */

@media(max-width: 600px) {
    .pg3 {
        width: 100%;
        display: initial;

    }

    .pg3-left {
        width: 100%;
    }

    .pg3-right {
        width: 100%;
    }

    .leftpart2>.contentbox>h1 {
        font-size: 2.7vmax;
    }

    .leftpart2>.contentbox>p {
        font-size: 1.5vmax;
        text-align: center;

    }

    .leftpart2>.contentbox>button {
        padding: 1.1vmax 1.2vmax;
        font-size: 1.6vmax;
        margin-top: 2vmax;

    }

    .rightpart1-top>.contentbox>h1 {
        font-size: 2.5vmax;
    }

    .rightpart1-top>.contentbox>p {
        font-size: 1.5vmax;
    }

    .rightpart1-top>.contentbox>button {
        padding: 1.1vmax 1.2vmax;
        font-size: 1.6vmax;
        margin-top: 2vmax;
    }

    .rightpart1-bottom>.contentbox>h1 {
        font-size: 2.7vmax;
    }
    
    .rightpart1-bottom>.contentbox>p {
        font-size: 1.5vmax;
    }
    
    .rightpart1-bottom>.contentbox>button {
        padding: 1.1vmax 1.2vmax;
        font-size: 1.6vmax;
        margin-top: 2vmax;
    }
    
    .rightpart2>p {
        font-size: 1.7vmax;
    }
    
    .rightpart2>button {
        padding: 1.1vmax 1.2vmax;
        font-size: 1.6vmax;
        margin-top: 2vmax;
    }

}

/* ----------------------pg3 media query end-------------------------------------- */




.pg4 {
    height: 100vh;
    width: 100%;
    display: flex;

}

.pg4-left {

    height: 100%;
    width: 50%;
    background-color: black;
    clip-path: circle(54.7% at 25% 50%);
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    padding: 10vmax 1vmax;
    /* background-color: pink; */
}

.pg4-left>h1 {
    font-family: 'Crimson Text', serif;
    font-size: 4vmax;
    color: white;
}

.pg4-left>p {
    font-family: 'Crimson Text', serif;
    font-size: 1.4vmax;
    color: white;
    width: 35vw;
    margin-top: 0.5vmax;
}

.pg4-left>button {
    padding: 0.7vmax 1vmax;
    width: 20vw;
    border: none;
    border-radius: 0.5vmax;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3vmax;
    margin-top: 1.5vmax;
    cursor: pointer;
    transition: all ease 1s;
}

.pg4-left>button:hover {
    color: black;
    transform: translateY(0.6vmax);
    border: 2px solid black;
    font-weight: bold;
}

.pg4-content {
    height: 80vh;
    width: 100%;
    /* border: 2px solid white; */
    box-shadow: 0 0 10px grey;
    overflow-y: auto;
    padding: 0 1vmax;
}

.pg4-content::-webkit-scrollbar {
    width: 0.5vmax;
    border-radius: 1vmax;
    /* display: none; */
}

.pg4-content::-webkit-scrollbar-thumb {
    height: 2vh;
    /* background-color:rgb(218, 216, 216); */
    background-color: grey;
    border-radius: 1vmax;

}

.pg4-content>.img1 {
    height: 35vh;
    width: 27vw;
    /* border: 2px solid white; */
    overflow: hidden;
    margin-left: 11vmax;
    border-radius: 0.5vmax;
}


.pg4-content>p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3vmax;
    /* color: white; */
    text-align: center;
    padding: 1vmax 0;

}

.pg4-content>.img2 {
    height: 35vh;
    width: 27vw;
    /* border: 2px solid white; */
    margin-left: 11vmax;
    border-radius: 0.5vmax;

}

.pg4-content>.img3 {
    height: 35vh;
    width: 27vw;
    /* border: 2px solid white; */
    margin-left: 11vmax;
    border-radius: 0.5vmax;

}

.pg4-right {
    height: 100%;
    width: 60%;
    /* background-color: rgb(239, 239, 239); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0vmax 2vmax;
    /* background-color: red; */

}

.pg4-right>h1 {
    font-family: 'Crimson Text', serif;
    font-size: 4vmax;
    text-align: center;
}

/* -------------------------------pg4-end---------------------------------- */

@media(max-width: 600px){
    .pg4 {
        width: 100%;
        display: initial;
    
    }
    
    .pg4-left {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0vmax 5vmax;
        width: 100%;
    }


    .pg4-left>h1 {
        font-size: 6vmax;
        color: white;
        margin-top: -15vmax;
    }
    
    .pg4-left>p {
        font-size: 2.5vmax;
        color: white;
        width: 85vw;
    }
    
    .pg4-left>button {
        padding: 1.5vmax 1vmax;
        width: 55vw;
        margin-top: 7vmax;
        font-size: 3vmax;
        font-weight: bold;
    }
    .pg4-right {
        width: 100%;
    
    }

    .pg4-right>h1 {
        font-size: 5vmax;
    }
    
    
    .pg4-content>.img1 {
        height: 25vh;
        width: 85vw;
        margin-left: 0.4vmax;
    }
    
    
    .pg4-content>p {
        font-size: 1.6vmax;
    margin-left: 1vmax;
    }
    
    .pg4-content>.img2 {
        height: 25vh;
        width: 85vw;
        margin-left: 0.4vmax;
        
    
    }
    
    .pg4-content>.img3 {
        height: 25vh;
        width: 85vw;
        margin-left: 0.4vmax;
  
    
    }
 
}


/* ------------------------pg4 media query end---------------------------------------- */

.pg5 {
    height: 100vh;
    width: 100%;
    background-color: rgb(73, 113, 116);
}

.pg5>h1 {
    font-family: 'Crimson Text', serif;
    font-size: 4vmax;
    text-align: center;
    padding-top: 1vmax;
}

.pg5-box {
    height: 85vh;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
}

.pg5-box-left {
    height: 100%;
    width: 23vw;
    /* border: 2px solid black; */
    padding: 1vmax 1vmax;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pg5-box-left>h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vmax;
}

.pg5-box-left>p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3vmax;
    color: white;
    margin-top: 1vmax;
}

.pg5-box-right {
    height: 100%;
    width: 76vw;
    /* border: 2px solid black; */
    padding: 0 3vmax;
}

.bedroomimg {
    height: 35vh;
    width: 21vw;
    /* border: 2px solid black; */
    display: inline-block;
    margin: 1vmax 0.8vmax;
    background-image: url("https://images.unsplash.com/photo-1598928636135-d146006ff4be?auto=format&fit=crop&q=60&w=600&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDF8fHxlbnwwfHx8fHw%3D");
    background-position: center;
    background-size: cover;
    border-radius: 0.5vmax;

}

.bedroomimg>h1 {
    position: absolute;
    padding-top: 12vmax;
    padding-left: 3.7vmax;
    /* color: white; */
    font-size: 1.7vmax;
    font-family: Arial, Helvetica, sans-serif;
}

.kitchenimg {
    height: 35vh;
    width: 21vw;
    /* border: 2px solid black; */
    display: inline-block;
    margin: 1vmax 0.6vmax;
    background-image: url("https://images.unsplash.com/photo-1559554704-0f74b35a8718?auto=format&fit=crop&q=60&w=600&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8a2l0Y2hlbiUyMGRlc2lnbnxlbnwwfHwwfHx8MA%3D%3D");
    background-position: center;
    background-size: cover;
    border-radius: 0.5vmax;
    /* position: absolute; */

}

.kitchenimg>h1 {
    position: absolute;
    font-size: 1.7vmax;

    padding-top: 1vmax;
    padding-left: 4.5vmax;
    /* color: white; */
    font-family: Arial, Helvetica, sans-serif;
}

.drawingroomimg {
    height: 35vh;
    width: 21vw;
    /* border: 2px solid black; */
    display: inline-block;
    margin: 1vmax 0.6vmax;
    background-image: url("https://media.istockphoto.com/id/841847538/photo/dark-comfy-couch.jpg?s=612x612&w=0&k=20&c=5I0D_YWUe9r7fE091ZiLgtwHFX9mlODB4a9CqvhrLu8=");
    background-position: center;
    background-size: cover;
    border-radius: 0.5vmax;

}

.drawingroomimg>h1 {
    position: absolute;
    font-size: 1.7vmax;

    padding-top: 12vmax;
    padding-left: 2vmax;
    /* color: white; */
    font-family: Arial, Helvetica, sans-serif;
}

.washroomimg {
    height: 35vh;
    width: 21vw;
    /* border: 2px solid black; */
    display: inline-block;
    margin: 1vmax 0.6vmax;
    background-image: url("https://images.unsplash.com/photo-1668911491644-5d17f116a5b0?auto=format&fit=crop&q=60&w=600&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8d2FzaHJvb20lMjBpbnRlcmlvciUyMGRlc2lnbnxlbnwwfHwwfHx8MA%3D%3D");
    /* background-image: url("https://media.istockphoto.com/id/1346631479/photo/empty-bathroom.webp?b=1&s=170667a&w=0&k=20&c=b7jH9oV-E5p8grl_fJwQtV2NkvhgpCd0tvrJcb0tI_4="); */
    background-position: center;
    background-size: cover;
    border-radius: 0.5vmax;

}

.washroomimg>h1 {
    position: absolute;
    font-size: 1.7vmax;

    padding-top: 1vmax;
    padding-left: 3vmax;
    /* color: white; */
    font-family: Arial, Helvetica, sans-serif;
}

.godroomimg {
    height: 35vh;
    width: 21vw;
    /* border: 2px solid black; */
    display: inline-block;
    margin: 1vmax 0.6vmax;
    background-image: url("https://www.99acres.com/microsite/wp-content/blogs.dir/6161/files/2023/05/Small-Pooja-room-designs-in-apartments.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 0.5vmax;

}

.godroomimg>h1 {
    position: absolute;
    font-size: 1.7vmax;

    padding-top: 12vmax;
    padding-left: 3.6vmax;
    /* color: white; */
    font-family: Arial, Helvetica, sans-serif;
}

.lawnarea {
    height: 35vh;
    width: 21vw;
    /* border: 2px solid black; */
    display: inline-block;
    margin: 1vmax 0.6vmax;
    background-image: url("https://media.istockphoto.com/id/1167550447/photo/lounge-chairs-and-fire-pit-in-rear-yard-patio.jpg?s=612x612&w=0&k=20&c=jxwtTAC6MzCIrZpaqLvDBBw2-bT-0YNywS5Nb30Hiyo=");
    background-position: center;
    background-size: cover;
    border-radius: 0.5vmax;

}

.lawnarea>h1 {
    position: absolute;
    font-size: 1.7vmax;

    padding-top: 1vmax;
    padding-left: 4.5vmax;
    /* color: white; */
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes move {
    0% {}

    100% {
        background-position: left;

    }

    100% {
        /* background-position:left; */

    }
}

.bedroomimg:hover,
.kitchenimg:hover,
.drawingroomimg:hover,
.washroomimg:hover,
.godroomimg:hover,
.lawnarea:hover {
    animation: move 2s linear infinite forwards;
    transition: all ease 2s;
    background-position: right;
    cursor: pointer;
}

/* ---------------------------------pg5 end-------------------------------- */
 

@media(max-width: 600px){

    .pg5 {
        height: 100%;
        width: 100%;
    }
    
    .pg5>h1 {
        font-size: 5vmax;
    }
    
    .pg5-box {
        height: 85vh;
        width: 100%;
        display: initial;
    }

    .pg5-box-left {
        height: 32%;
        width: 90vw;
        /* border: 2px solid black; */
        padding: 1vmax 1vmax;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    
    .pg5-box-left>h3 {
        font-size: 2.5vmax;
    }
    
    .pg5-box-left>p {
        font-size: 1.7vmax;
    }
    
    .pg5-box-right {
        height: 60%;
        width: 100%;
        /* border: 2px solid black; */
    padding: 0 1vmax;
    }

    .bedroomimg, .kitchenimg, .drawingroomimg, .washroomimg, .godroomimg, .lawnarea  {
        height: 16vh;
        width:43vw;        
    }
    
    .bedroomimg>h1, .kitchenimg>h1, .drawingroomimg>h1, .washroomimg>h1, .godroomimg>h1, .lawnarea>h1 {
        font-size: 2vmax;
    }
    
}

/* ------------------------pg5 media query end------------------------------------- */


.pg6 {
    height: 100vh;
    width: 100%;
    background-color: rgb(239, 239, 239);
    display: flex;
    align-items: center;
    justify-content: center;
}

.formbox {
    height: 85vh;
    width: 60%;
    /* border: 2px solid black; */
    box-shadow: 0 0 4px grey;
    display: flex;
}

.formbox-left {
    height: 100%;
    width: 50%;
    background-image: url("https://media.istockphoto.com/id/1147086011/photo/modern-concept-interior-design-of-black-and-grey-living-room-3d-render.jpg?s=612x612&w=0&k=20&c=LASDUY457-qD4WHT1zTaHUxgkQgDeiILz1rAaTRdIvA=");
    background-image: url("https://media.istockphoto.com/id/1300395951/photo/modern-interior-design-mock-up-with-dark-walls-and-vertical-slats-panel-3d-render-3d.webp?b=1&s=170667a&w=0&k=20&c=Mm4mZiN72zYQsmtggB4MFBeb7vIN9yVxw5oVq177Z3k=");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;


}

.overlay {
    height: 100%;
    width: 100%;
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.address {
    height: 11vh;
    width: 15vw;
    /* border: 2px solid white; */
    margin-left: -3vmax;
}

.address>h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4vmax;

}

.address>h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vmax;
    margin-top: 0.5vmax;
}

.call {
    height: 10vh;
    width: 15vw;
    /* border: 2px solid white; */
    margin-left: -3vmax;
}

.call>h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4vmax;
}

.call>h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2vmax;
    margin-top: 0.5vmax;
}



.email {
    height: 10vh;
    width: 15vw;
    /* border: 2px solid white; */
    margin-left: -3vmax;
}

.email>h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4vmax;
}

.email>h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2vmax;
    margin-top: 0.5vmax;
}



.formbox-right {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form>h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3vmax;
    color: rgb(146, 144, 144);
    margin-top: 0.6vmax;
}

input {
    padding: 0.7vmax 5vmax;
    border: 2px solid rgb(202, 202, 202);
    border-radius: 0.5vmax;
}

textarea {
    border: 2px solid rgb(202, 202, 202);
    border-radius: 0.5vmax;
}

.formbox-right button {
    padding: 0.5vmax 6vmax;
    margin-left: 4vmax;
    margin-top: 0.7vmax;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4vmax;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0.5vmax;

}

/* ---------------------------pg6 end-------------------------------------- */

@media(max-width: 600px){

    .pg6 {
        width: 100%;
    }
    
    .formbox {
        height: 65vh;
        width: 98%;
        /* border: 2px solid black; */
        box-shadow: 0 0 4px grey;
        display: flex;
    }


    .address {
        height: 8vh;
        width: 32vw;
        /* border: 2px solid white; */
    }
    
    .address>h4 {
        font-size: 2vmax;
    
    }
    
    .address>h5 {
        font-size: 1.3vmax;
    }
    
    .call {
        height: 5vh;
        width: 30vw;
        /* border: 2px solid white; */
    }
    
    .call>h4 {
        font-size: 2vmax;
    }
    
    .call>h5 {
        font-size: 1.3vmax;
        margin-left: 1vmax;
    }
    
    
    
    .email {
        height: 7vh;
        width: 40vw;
        /* border: 2px solid white; */
        margin-left: 3vmax;
    }
    
    .email>h4 {
        font-size: 2vmax;
    }
    
    .email>h5 {
        font-size: 1.3vmax;
    }
    
    form>h3 {
        font-size: 2vmax;
        margin-left: 1vmax;

    }
    
    input {
        border: 2px solid rgb(202, 202, 202);
        width: 42vw;
        height: 4vh;
        margin-left: 1vmax;
    }
    textarea {
        width:42vw;
        margin-left: 1vmax;

    }
    
    .formbox-right button {
        padding: 1vmax 6vmax;
        margin-top: 1.5vmax;
        font-size: 1.9vmax;
        /* margin-left: 2.5vmax; */
    
    }


}

/* --------------------pg6 media query end-------------------------------------------- */


footer {
    height: 50vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 1vmax;

}

footer>h1 u {
    font-size: 1.5vmax;
    font-family: Arial, Helvetica, sans-serif;


}

.connections {
    height: 10vh;
    width: 20vw;
    /* border: 2px solid white; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.circle {
    height: 7vh;
    width: 4vw;
    /* border: 2px solid white; */
    border-radius: 5vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vmax;
    color: white;
}

footer>p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2vmax;
    text-align: center;
}

.copyright {
    height: 10vh;
    width: 100%;
    color: rgb(191, 190, 190);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vmax;
}

.copyright>h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3vmax;
}

.copyright>h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3vmax;
}

/* -----------------------------footer end----------------------------------- */


@media(max-width: 600px){

    footer {
        width: 100%;
    
    }
    
    footer>h1 u {
        font-size: 4vmax;
        font-family: Arial, Helvetica, sans-serif;
    }

    .connections {
        height: 8vh;
        width: 50vw;
    }
    
    .circle {
        height: 5vh;
        width: 10vw;
    }
    .circle >i{
        font-size: 4vmax;
    }

    footer>p {
        font-size: 1.9vmax;
    }
    

}